<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Welcome to my first application backed by Node and Express. It uses data from mapbox.com and darksky.net!</p>
            <p>I am currently a third year student studying software ENG at York University's Lassonde School of Engineering.</p>
        
            <img class="portrait" src="/img/lassonde.jpg">
        </div>
     
        {{>footer}}
    </body>
</html>